:css
  header{
    display:none;
  }
  .under-header{
    display:none;
  }
.this-header
  .nav
    %ul
      %li
        =link_to 'TOP', '#',class:'anchor-link'
      %li
        =link_to 'AboutSite', '#aboutsite',class:'anchor-link'
      %li
        =link_to 'profile', '#profile',class:'anchor-link'
      %li
        =link_to 'Product', '#works',class:'anchor-link'
      %li
        =link_to '', '#',class:'anchor-link'
.good
  %p
    Welcome
.about-site#aboutsite
  .inner
    .contents
      .contents__title
        About this site
      .contents__text
        こちらはWebエンジニア希望のtakayaのポートフォリオサイトです。
        %br
        これまでに手がけた制作物、身につけたスキルをまとめています。
        %br
        あなたに、私のことをもっと深く知ってほしいと思って作りました。
        %br
        作成途中でお見苦しい箇所もありますがゆっくりとサイト内を散策してください。
.profile#profile
  .inner
    .contents
      .contents__title
        Profile
      .contents__parent
        .contents__parent__img
          =image_tag 'https://pbs.twimg.com/profile_images/1248663199177564161/w569sz1d_400x400.jpg', alt: 'Rails icon', class: 'img',size:'220x220'
        .contents__parent__text
          %p はじめまして、小山貴也（こやまたかや）と申します。
          %br
          %p 前職は小売店舗の２店舗の店長業務を行なっておりました。
          %br

          %p 退職後は職業訓練校でjava,androidApplicationのコース受講
          %br
          その後TECH:CAMPにてRuby on Railsの学習に取り組みました。
          %br
          エンジニアとして多くの方に喜んでいただける
          %br
          サービス製品の開発に携われるよう日々学習しております！！
          .contents__link
            =link_to 'https://twitter.com/poteto_program' do
              %i.fab.fa-twitter-square.fa-5x
            =link_to 'https://github.com/takayak' do
              %i.fab.fa-github-square.fa-5x
            =link_to 'https://qiita.com/takayak' do
              =image_tag 'qiita.png', alt: 'icon', class: 'img',size:'61x61'
.works#works
  .inner
    .contents
      .contents__title
        WORKS
      .contents__products
        .contents__products__1
          =link_to posts_path do
            =image_tag 'p-lunch500.png', alt: 'Rails icon', class: 'img'
          .contents__products__1__tbox
            %p.title Lunch500
            %p ワンコイン（500円）で食べられる
            %p ランチを簡単に検索できるアプリです。
            =link_to 'https://github.com/takayak/Lunch500/blob/master/README.md' do
              .readme.btn.btn-default
                Read me
                %i.fab.fa-readme
        .contents__products__2
          =link_to 'http://52.196.14.28' do
            =image_tag 'frema-sample.png', alt: 'Rails icon', class: 'img'
          .contents__products__2__tbox
            %p.title チームスクラム開発:フリマ
            %p ユーザー名： admin
            %p パスワード： aaaa
            =link_to 'https://github.com/takayak/freemarket_sample_71a/blob/master/README.md' do
              .readme.btn.btn-default
                Read me
                %i.fab.fa-readme
        .contents__products__3
          =link_to 'https://twitter.com/poteto_program' do
            =image_tag 'comming-s.jpeg', alt: 'Rails icon', class: 'img'
          .contents__products__3__tbox
.footer
  takaya's site