.search-category
  =link_to search_category_post_path(1),method: :post do
    .btn.btn-primary
      中華
  =link_to search_category_post_path(2),method: :post do
    .btn.btn-primary
      洋食
  =link_to search_category_post_path(3),method: :post do
    .btn.btn-primary
      フレンチ
  =link_to search_category_post_path(4),method: :post do
    .btn.btn-primary
      和食
  =link_to search_category_post_path(5),method: :post do
    .btn.btn-primary
      ファーストフード
  =link_to search_category_post_path(6),method: :post do
    .btn.btn-primary
      その他