html {
  font-size: 62.5%; /*ベースを10pxにしています*/
  }
  body {
    font-size: 1.0rem; /*10px*/
  }
  h1 {
     font-size: 1.4rem; /*14px*/
  }

.mypage-image{
  border-radius: 50%;
  border: solid 2px gray;
}
.btn-default-add{
  border: solid 1px;
  margin-right: 5px;
}
header{
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgb(245, 245, 245);
  border-bottom: solid 1px gray;
  box-shadow: rgb(218, 218, 218);
}
.under-header{
  padding-top: 100px;
}
