h1 {
  font-size: 30px;
}
body{
  background-color:#f9f9f9;
  color: rgb(26, 25, 25);
}
a:link, a:visited, a:hover, a:active {
  color: blue;
}

.logo{
  display: inline;
  font-size: 10px;
  background-color: orange;
  padding: 6px;

}